<html>
<head>
 <title>Login</title>
 
</head>
<body>
 <form method="POST" action="/articles/create">
 <label for="title">Username</label>
 <br>
 <input type="text" name="title"/>
 <br>
 <label for="body">Password</label>
 <br>
 <input type="text" name="body"/>
 <br>
 <button type="submit">Submit</button>
 </form>

 
</body>
</html>