nav.navbar{background-color: rgb(0, 0, 0);}

body{ background-color: black;}


h1.trad{font-family: Arial;
font-size:5vw; font-weight: bold ; }
  h3{font-family: 'Arial';
font-size:2vw; font-weight: bold ;}
.story{margin-top: 15%; font-size: 1vw;} 

 .bg-light{background-image:url(bg1.jpg) 
    ;
    
 margin-top: -75px; 
margin-bottom:-2.5%; 
    } 

  
/* Rectangle */
#myCarousel .carousel-indicators > li {
  width:25%;
} 

.carousel-inner img {
      width: 25%;
      height: 25%;
  }

#myCarousel .carousel-indicators {
    position: static;
    margin-top:20px;
}

#myCarousel .carousel-indicators > li {
  width:100px;
}

 #myCarousel .carousel-indicators li img {
    display: block;
    opacity: 0;
 }

  #myCarousel .carousel-indicators li.active img {
    opacity: 0;
  }

  #myCarousel .carousel-indicators li:hover img {
    opacity: 0;
  }
     
  

  .bg-danger{background-image: url(bg4.png); background-size: 100vw;}
    
    
  .bg-info{background-image:url(bg2.jpg);
           background-size: 100%;
  }
      


  .bg-info{background-image:url(bg2.jpg);
           background-size: 100%; margin-bottom: -0.1%;
  }
       
.nav-link{margin-right: 30px;}


.bg-warning{background-image: url(bg3.png);background-size: 100vw; height: 60vw;
 
 
border-radius: 0px;

}
 .clas{margin-top: 20%;}   

   .bg-primary{background-image: url(bg5.png); }   
   .score{margin-top: 10%; }
   img.s{width:1vh}  
  img.q{width: 2vh; }
p.bor{text-align: center;}
    
.ov{background-size: 100vw; 
 
 
 border-radius: 0px;
 
 }
 
  #sys{width:40vw;height:30vw;margin-top: 10%; }  
  
    #qt{width:100%}